.container {
  height: 3vh;
  background-color: rgb(226, 119, 137);
  color: white;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  display: flex;
  p {
    padding: 0px;
    margin: 4px;
  }
}
