.container {
  width: 100%;
  height: 64px;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
  .wrapper {
    width: 100%;
    height: 100%;
    padding: 10px, 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      flex: 1;
      display: flex;
      align-items: center;

      .language {
        border: 0.5px solid lightgray;
        padding: 5px;
        margin: 0 8px;
        text-transform: uppercase;
      }
      .language:hover {
        text-transform: uppercase;
        margin-left: 8px;
        margin-right: 8px;
        cursor: pointer;
        background-color: rgb(119, 136, 153, 0.1);
      }

      .searchContainer {
        border: 0.5px solid lightgray;
        display: flex;
        align-items: center;
        margin-left: 25px;
        padding: 5px;

        .searchInput {
          border: none;
        }

        .searchInput:focus {
          outline: none;
        }
      }
    }

    .center {
      flex: 1;
      margin-left: 72px;
      .logoText {
        font-family: Montserrat, sans-serif;
        align-items: center;
        text-align: center;
        font-weight: 800;
        text-transform: uppercase;
      }
    }
    .menu {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-left: 25px;

      .link {
        text-transform: uppercase;
        padding: 8px;
        margin-left: 8px;
        margin-right: 8px;
        cursor: pointer;
        border: 0.1px solid rgb(119, 136, 153, 0);
      }
      .link:hover {
        background-color: rgb(119, 136, 153, 0.1);
        border: 0.1px solid rgb(119, 136, 153, 0.2);
      }

      .cartLink {
        text-transform: uppercase;
        padding: 8px;
        margin-left: 8px;
        margin-right: 8px;
        cursor: pointer;
      }
      .cartLink:hover {
        background-color: rgb(119, 136, 153, 0.2);
      }
    }
  }
}
