.container {
  height: 60vh;
  background-color: #fcf5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .title {
    font-size: 70px;
    margin-bottom: 20px;
  }
  .description {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
  }
  .inputContainer {
    width: 40vw;
    height: 4vh;
    display: flex;
    justify-content: space-between;

    .emailInput {
      flex: 1.5;
      border: none;
    }
    .emailInput:focus {
      outline: none;
    }
    button {
      flex: 0.5;
      border: none;
      background-color: teal;
      color: white;
    }
  }
}
